.home-page-container
    background: black

.home-logo-container
    width: 200px
    height: 200px

.nav-container
    position: -webkit-sticky          
    position: sticky

.header-container
    position: -webkit-sticky 
    position: sticky
     