.home-page-container
    background: black

.home-logo
    width: 200px
    height: 200px

.header-container
    position: -webkit-sticky 
    position: sticky
    top: 0px

.home-footer-container      
    position: -webkit-sticky 
    position: sticky
    bottom: 0px

.header-container       
    background-color: black

