html, body
    margin: 0
    height: 100%
    background: $PrimaryBlack
    color: $PrimaryGreen

.home-page-container
    border: solid 50px $PrimaryWhite
           

.secondary-border   
    border: solid 25px $SecondaryBorder

.home-into-paragraph-container
    text-align: center

.side-content
    margin-left: auto
    margin-right: auto
    text-align: center
          
.home-logo
    width: 200px
    height: 200px
    display: block
    margin-left: auto
    margin-right: auto

.header-container
    position: -webkit-sticky 
    position: sticky
    top: 0px

.home-footer-container      
    position: -webkit-sticky 
    position: sticky
    bottom: 0px

