.howtohelp-view-container
    background-color: $PrimaryBlack

.howtohelp-header-container
    position: -webkit-sticky 
    position: sticky
    top: 0px

.howtohelp-footer-container      
    position: -webkit-sticky 
    position: sticky
    bottom: 0px   