a
    font-size: $NavBarTextSize
    color: $PrimaryGreen

a:hover
    background-color: $PrimaryGreen
    opacity: .5
    padding: 10px, 10px
    color: black
    
.nav-bar-container
    width: 100%
    background-color: $PrimaryBlack


