.nav-bar-container
    position: sticky;
   
.nav-bar-link
    background-color: black
    

    &:hover
        background-color: $PrimaryGreen
        opacity: .5
        padding: 10px, 10px
        
a
    color: $PrimaryWhite

a:hover
    color: black
    border: PrimaryBrown
    border-right-style: solid
    border-top-style: solid
    border-left-style: solid

