html, body
    margin: 0
    height: 100%
    background-color: $PrimaryBlack  

//TODO:  Learn how to modularize the header container 
//       and footer container since they are reused 
//       on other pages

.upcomingevents-header-container
    position: -webkit-sticky 
    position: sticky
    top: 0px

.upcoming-footer-container
    position: -webkit-sticky 
    position: sticky
    bottom: 0px   